[submodule "spdlog"]
	path = third-party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third-party/xed/xed"]
	path = third-party/xed/xed
	url = https://github.com/intelxed/xed.git
[submodule "third-party/xed/mbuild"]
	path = third-party/xed/mbuild
	url = https://github.com/intelxed/mbuild.git
[submodule "third-party/imgui"]
	path = third-party/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "third-party/argparse"]
	path = third-party/argparse
	url = https://github.com/p-ranav/argparse
